body {
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  background-color: black;
}

p {
  margin: 0;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  border: none;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input {
  outline: none;
}

/* PHONE NUMBER INPUT */

.iti {
  font-family: Inter;
  /* margin-bottom: 28px; */
  margin-bottom: 12px;
}

.iti__selected-dial-code {
  color: white;
}

/* Global Properties */

.cta-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  color: var(--Foundation-Grey-G900, #1F1F1F);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.cta-button:hover {
  background: var(--1, linear-gradient(90deg, #7FD6A8 -15.89%, #FFD84E 118.84%));
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
}

/* Specific Properties for HERO */

.hero-container {
  position: relative;
  width: 100%;
  padding: 80px 114px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 87px;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(31, 31, 31, 0.95) 50%, rgba(31, 31, 31, 0.95) 50%), url("../assets/images/hero/background.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
}

.hero-container img {
  z-index: 10;
}

.hero-unlock {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-unlock > .unlock-title {
  width: 100%;
  max-width: 1086px;
  margin-bottom: 24px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.hero-green-gradient {
  background: var(--Gradient, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.hero-unlock > .unlock-description {
  margin-bottom: 48px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.8;
}

.users-show {
  margin-bottom: 189px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.users-show-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users-number {
  /* max-width: 90px; */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  background: linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splitter-vertical {
  width: 1px;
  height: 72px;
  background: linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%);
}

.users-show-right {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image {
  margin-bottom: 139px;
  width: 100%;
  height: auto;
}

.hero-image-mobile {
  width: 100%;
  height: auto;
  margin-bottom: 29px;
  display: none;
}

.hero-payment-options {
  z-index: 10;
  display: flex;
  align-items: flex-start;
  gap: 104px;
}

.hero-payment-options-resized {
  display: none;
}

/* Specific Properties for FEATURES */

.features-container {
  width: 100%;
  padding: 210px 161px;
  background: #1B1B1B;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reason Sub-Section */

.features-reason {
  max-width: 1411px;
  width: 100%;
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.reason-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.reason-green-gradient {
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.reason-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  gap: 48px;
}

.reason-left {
  min-width: 427px;
  max-width: 427px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.reason-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reason-item-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reason-item-title > p {
  color: var(--Foundation-Grey-G0, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.reason-item-description {
  align-self: stretch;
  color: #D9D9D9;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  opacity: 0.8;
}

.reason-right {
  width: 100%;
  background-image: url("../assets/images/features/reason-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reason-right > .reason-image {
  display: none;
}

/* Benefits Sub-Section */

.features-benefits {
  max-width: 1411px;
  width: 100%;
  margin-bottom: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-title {
  margin-bottom: 64px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.benefits-green-gradient {
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.benefits-wrapper {
  margin-bottom: 104px;
  display: flex;
  gap: 40px;
}

.benefits-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.benefits-item > img {
  width: fit-content;
}

.benefits-item-title {
  color: var(--Foundation-Grey-G0, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.benefits-item-description {
  align-self: stretch;
  color: #D9D9D9;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  opacity: 0.8;
}

/* Future Sub-Section */

.features-future {
  max-width: 1411px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.future-title {
  max-width: 685px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
}

.future-green-gradient {
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.future-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.future-wrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 24px;
}

.future-item {
  width: 33.33%;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #383838;
  background: #242424;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.future-item:hover {
  border-radius: 4px;
  border: 1px solid #8CC63F;
  background: #242424;
}

.future-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.future-item-image-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.future-item-image-wrapper > p {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.future-item-title {
  color: var(--Foundation-Grey-G0, #FFF);

  /* H6/medium */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.future-item-description {
  align-self: stretch;
  color: #D9D9D9;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  opacity: 0.8;
}

.future-wrapper-slider {
  display: none;
  gap: 20px;
}

.future-wrapper-slider-step {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: gold;
}

/* .future-cta {
  padding: 0;
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 16px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.future-cta:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
} */

/* Finisher */

.finisher-container {
  position: relative;
  padding: 144px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finisher-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(31, 31, 31, 0.72) 0%, rgba(31, 31, 31, 0.72) 100%), url("../assets/images/finisher-background.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
}

.finisher-wrapper {
  z-index: 10;
  max-width: 812px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finisher-title {
  margin-bottom: 16px;
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
}

.finisher-description {
  margin-bottom: 40px;
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
}

/* Specific features for SIGNUP */

.signup-popup {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* overflow-y: auto; */
  
  background: #1B1B1B;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-button > img {
  width: 40px;
  cursor: pointer;
}

.close-button:hover > img {
  transform: translate(1px, -1px);
}

.signup-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* padding: 168px 0; */
  padding: 32px 0;
  box-sizing: border-box;
  background: #1B1B1B;
  display: flex;
  justify-content: center;
}

.signup-wrapper {
  max-width: 1200px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 126px;
}

.signup-left-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.signup-title {
  align-self: stretch;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  color: #FFF;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.signup-green-gradient {
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup-description {
  align-self: stretch;
  color: #D9D9D9;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 30.6px */
}

.signup-left-wrapper > img {
  display: none;
}

.signup-container form {
  min-width: 50%;
}

.signup-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 28px; */
  gap: 12px;
}

.signup-form-title {
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%; /* 34.08px */
  opacity: 0.8;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup-form-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signup-form-description-top {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 6.5px */
  opacity: 0.8;
}

.signup-form-description-tag-wrapper {
  display: flex;
  gap: 3px;
}

.signup-form-description-tag-wrapper > p {
  padding: 7px;
  border-radius: 4px;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  color: #1F1F1F;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 13px */
}

.signup-form-description-bottom {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 16.9px */
  opacity: 0.8;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-form input {
  width: 100%;
  /* height: 60px; */
  height: 48px;
  padding: 14px 24px 14px 24px;
  box-sizing: border-box;
  /* margin-bottom: 16px; */
  margin-bottom: 12px;
  background: transparent;
  border-radius: 6px;
  border: 1px solid rgba(217, 217, 217, 0.29);
  
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  
  /* 3/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */

  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(217, 217, 217, 0.29);
}

.signup-form > button {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));

  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 170% */
}

.signup-form > button:hover {
  background: var(--1, linear-gradient(90deg, #7FD6A8 -15.89%, #FFD84E 118.84%));
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
}

/* Specific features for FOOTER */

#footer {
  width: 100%;
  background: #1F1F1F;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1728px;
  padding: 144px 150px;
  width: 100%;
  box-sizing: border-box;
  background: #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-payment-wrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.footer-payment-wrapper-resized {
  display: none;
}

.footer-title {
  margin-bottom: 16px;
  align-self: stretch;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  background: var(--1, linear-gradient(90deg, #FFD84E -15.89%, #7FD6A8 118.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-description {
  align-self: stretch;
  color: #A1A1A1;
  text-align: justify;

  /* text/regular */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

/* Responsive Design */

@media (max-width: 1440px) {
  .hero-container {
    padding: 80px 120px;
  }

  /* Features */

  .features-container {
    padding: 160px 120px;
  }

  .features-reason {
    row-gap: 48px;
  }

  .features-benefits {
    margin-bottom: 144px;
  }

  /* Signup */

  .signup-container {
    padding: 80px 64px;
  }

  /* Footer */

  .footer-container {
    padding: 80px 64px;
  }
}

@media (max-width: 1024px) {
  .hero-container {
    padding: 80px 80px;
  }

  .hero-unlock > .unlock-title {
    font-size: 48px;
  }

  .users-show {
    gap: 16px;
    margin-bottom: 100px;
  }

  .hero-image {
    margin-bottom: 70px;
  }

  .hero-payment-options {
    display: none;
  }

  .hero-payment-options-resized {
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  /* Features */

  .features-container {
    padding: 120px 80px;
    overflow: hidden;
  }

  .reason-wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .reason-left {
    z-index: 10;
    min-width: 70%;
    max-width: 70%;
  }

  .reason-right {
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
  }

  /* Future */

  .future-wrapper {
    gap: 5px;
  }

  .future-item {
    padding: 40px 20px;
  }

  .future-item-title {
    font-size: 12px;
  }

  .future-item-description {
    font-size: 9px;
  }

  /* Finisher */

  .finisher-container {
    padding: 64px 48px;
  }

  /* SignUp */

  .signup-wrapper {
    flex-direction: column;
    gap: 70px;
  }

  .signup-left-wrapper {
    width: 100%;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
  }

  .signup-title {
    display: none;
    font-size: 18px;
  }

  .signup-green-gradient {
    font-size: 25px;
  }

  .signup-left-wrapper > img {
    display: block;
    /* height: 28px; */
  }

  .signup-description {
    display: none;
  }

  .signup-wrapper form {
    width: 100%;
  }

  .signup-form-wrapper {
    width: 100%;
  }

  .signup-form-wrapper > img {
    display: none;
  }

  .signup-form-description-tag-wrapper > p {
    font-size: 9px;
  }

  /* Footer */

  .footer-container {
    padding: 64px 48px;
  }

  .footer-payment-wrapper {
    display: none;
  }

  .footer-payment-wrapper-resized {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 80px 60px;
    row-gap: 70px;
  }

  .hero-unlock > .unlock-title {
    font-size: 36px;
  }

  .hero-unlock > .unlock-description {
    margin-bottom: 29px;
    font-size: 18px;
  }

  .users-show {
    margin-bottom: 29px;
    gap: 17px;
  }

  .hero-image {
    display: none;
  }

  .hero-image-mobile {
    display: block;
  }

  .users-number, .users-show-right {
    font-size: 12px;
  }

  .users-face {
    width: auto;
    height: 27px;
  }

  .splitter-vertical {
    height: 36px;
  }

  .features-container {
    padding: 100px 60px;
  }

  .reason-title {
    font-size: 36px;
  }

  .reason-wrapper {
    gap: 24px;
  }

  .features-benefits {
    margin-bottom: 120px;
  }

  .benefits-title {
    font-size: 36px;
  }

  .benefits-wrapper {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 24px;
  }

  .benefits-item {
    width: calc(50% - 12px);
  }

  .benefits-item-title {
    font-size: 14px;
  }

  .benefits-item-description {
    font-size: 12px;
  }

  /* Future */

  .future-title {
    font-size: 36px;
  }

  .future-item-image-wrapper > img {
    height: 21px;
  }

  .future-item-image-wrapper > p {
    font-size: 14px;
  }

  /* Finisher */

  .finisher-title {
    font-size: 36px;
  }

  /* SignUp */

  .signup-container {
    padding: 48px 32px;
  }
}

@media (max-width: 480px) {
  /* Global */
  .cta-button {
    padding: 10px 17px;
    font-size: 13px;
  }

  /* Hero */

  .hero-container {
    padding: 80px 32px;
  }

  .hero-unlock > .unlock-title {
    font-size: 28px;
  }

  .hero-unlock > .unlock-description {
    font-size: 16px;
  }

  /* Fetures */

  .features-container {
    padding: 80px 0px;
  }

  /* Reason */

  .features-reason {
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
  }

  .reason-title {
    font-size: 25px;
  }

  .reason-wrapper {
    gap: 16px;
  }

  .reason-item-title > p {
    font-size: 14px;
  }

  .reason-item-description {
    font-size: 12px;
  }

  /* Benefits */

  .features-benefits {
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
  }

  .benefits-title {
    font-size: 25px;
  }

  /* Future */

  .features-future {
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
  }

  .future-title {
    font-size: 25px;
  }

  .future-item {
    min-width: 100%;
  }

  .future-item-image-wrapper > p {
    font-size: 18px;
  }

  .future-item-title {
    font-size: 18px;
  }

  .future-item-description {
    font-size: 16px;
  }

  .future-wrapper-slider {
    display: flex;
  }

  /* Finisher */

  .finisher-container {
    padding: 64px 24px;
  }

  .finisher-title {
    font-size: 25px;
  }

  .finisher-description {
    font-size: 13px;
  }

  /* Signup */

  .signup-wrapper {
    gap: 48px;
  }

  .close-button > img {
    width: 32px;
    cursor: pointer;
  }

  /* Footer */

  /* .footer-payment-wrapper-resized {
    flex-direction: column;
    gap: 24px;
  } */

  .footer-payment-wrapper-resized img {
    height: 15px;
  }

  .footer-title {
    font-size: 14px;
  }

  .footer-description {
    font-size: 10px;
  }
}
